.hero-section{
    background-image: url('../../../assets/bg/Figure.png');
background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
    min-height: 692px;
}
.hero-section-2{
    background-image: url('../../../assets/bg/Figure2.png');
background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
    min-height: 692px;
}
.hero-section-3{
    background-image: url('../../../assets/bg/bg-3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    min-height: 692px;
}
.hero-section-4{

background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
    min-height: 692px;
}

